<ion-view title="My Trips" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon" ng-click="goToPreApproval()"> Add Trip</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="myTrips-container2">
      <div id="myTrips-button-bar2" class="button-bar">
        <button id="myTrips-button11" style="font-size:14px;" class="button button-stable  button-block">Current</button>
        <button id="myTrips-button12" style="font-size:14px;" class="button button-positive  button-block">Upcoming</button>
        <button id="myTrips-button13" style="font-size:14px;" class="button button-stable  button-block">Past</button>
      </div>
      <ion-list id="myTrips-list4">
        <ion-item class="item-icon-right" id="myTrips-list-item10">Ankara
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="myTrips-list-item11">Moscow
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="myTrips-list-item12">Rio de Jinero
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>